.root {
    -fx-background-color: #202020;
}

.result-label {
    /* Text */
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: baseline-right;

    /* Border */
    -fx-border-color: #202020;
    -fx-background-color: #202020;
    -fx-padding: 0 5px 10px 5px; /* top, right, bottom, left */

    -fx-pref-width: 295px;
}

.expression-label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-alignment: baseline-right;
    -fx-padding: 3px 5px 0 5px; /* top, right, bottom, left */
}

/* Number Buttons */
.number-button {
    -fx-font-size: 20px;
    -fx-font-family: fantasy;
    -fx-min-width: 70px;
    -fx-min-height: 50px;

    -fx-background-color: #505050;
    -fx-text-fill: white;
}

.number-button:hover {
    -fx-background-color: #303030;
}

.equals-button {
    -fx-font-size: 20px;
    -fx-font-family: fantasy;
    -fx-font-weight: bold;
    -fx-min-width: 70px;
    -fx-min-height: 50px;
    -fx-background-color: green;
    -fx-text-fill: white;
}

.equals-button:hover {
    -fx-background-color: lightgreen;
}

/* Operand Buttons & Clear Buttons */
.action-button {
    -fx-font-size: 20px;
    -fx-font-family: fantasy;
    -fx-min-width: 70px;
    -fx-min-height: 50px;

    -fx-background-color: #303030;
    -fx-text-fill: white;
}

.action-button:hover {
    -fx-background-color: #505050;
}